table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
.mar_bot200{margin-bottom:200px;}
.mar_top30{margin-top: 30px;}
.adjust{
    height: 250px;
    
    border: 1px solid black;
	}
.a{color: #0077b5;}
.active_button{color: #0077B5 !important;
  border-bottom: 3px solid #0077b5;}
.active{background-color: lightgrey;}