<div class="col-sm-12">
	<div class="col-sm-12" style="margin-bottom: 20px">
	<h3><b>Sort by</b></h3>
	 <div class="btn-group btn-group-justified">
           <a href="" ng-click="sortData('friends')" ng-class="{active_button : activeHover == 'friends'}" class="btn btn-default "> Friends <span ng-if="flagFriends==true">&uArr;</span><span ng-if="flagFriends==false">&dArr;</span></a>
           <a href="" ng-click="sortData('influence')" ng-class="{active_button : activeHover == 'influence'}" class="btn btn-default" >Influence <span ng-if="flagInfluence==true">&uArr;</span><span ng-if="flagInfluence==false">&dArr;</span></a>
           <a href="" ng-click="sortData('chirpiness')" ng-class="{active_button : activeHover == 'chirpiness'}" class="btn btn-default" >Chirpiness <span ng-if="flagChirpiness==true">&uArr;</span><span ng-if="flagChirpiness==false">&dArr;</span></a>
            <a href="" ng-click="sortData('total')" ng-class="{active_button : activeHover == 'total'}" class="btn btn-default " > Total Score  <span ng-if="flagTotal==true">&uArr;</span><span ng-if="flagTotal==false">&dArr;</span></a>
        </div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4">
            <label class="control-label">Start Date</label>
            <div class="input-form">
                 <p class="input-group">
	                    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm"  is-open="StartDatePopup.opened" enable-time="true" datepicker-options="StartDateOptions" ng-model="StartDate" ng-click="OpenStartDate()"
	                    ng-change="ChangeEndMinDate(StartDate)" placeholder="Start Date" />
	               <span class="input-group-btn">
	                  <button type="button" class="btn btn-default" ng-click="OpenStartDate()" ><i class="fa fa-calendar"></i></button>
	              </span>
                 </p>
            </div>
        </div>
        <div class="col-sm-4">
            <label class="control-label">End Date</label>
            <div class="input-form">
               <p class="input-group">
                    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" enable-time="true" ng-model="EndDate" name="EndDate" is-open="EndDatePopup.opened" datepicker-options="EndDateOptions" ng-required="true" close-text="Close" ng-click="OpenEndDate()" placeholder="End Date"/>
		            <span class="input-group-btn">
		                 <button type="button" class="btn btn-default" ng-click="OpenEndDate()"><i class="fa fa-calendar"></i></button>
		            </span>
              </p>
            </div>
            
        </div>
        <div class="col-sm-4" style="margin-top: 25px">
        	<button class="btn btn-success" ng-click="timeRange()"  ng-disabled="flag">Search</button>
        </div>
	</div>

	<div class="col-sm-12">

	  <div class="col-sm-3 adjust"  ng-repeat="k in getData track by $index">
		<table class="table table-hover">
		  <tr ng-class="{active : activeHover == 'total'}">
		    <th>{{k.fullname}} <img ng-src="{{k.image}}" class="img-responsive"> </th>
		    <th><p>Total</p>{{k.twubric.total}}</th>
		  </tr>
		  <tr ng-class="{active : activeHover == 'friends'}">
		    <td>friends</td>
		    <td>{{k.twubric.friends}}</td>
		  </tr>
		  <tr ng-class="{active : activeHover == 'influence'}">
		    <td>Influence</td>
		    <td>{{k.twubric.influence}}</td>
		  </tr>
		  <tr ng-class="{active : activeHover == 'chirpiness'}">
		    <td>Chirpiness</td>
		    <td>{{k.twubric.chirpiness}}</td>
		  </tr>
		  <tr>
		    <td>{{k.join_date | date}}</td>
		    <td> <a href="" ng-click="delete($index)">Delete</a></td>
		  </tr>
		</table>
		 <div class="clearfix" ng-if="$index % 4 == 0"></div>  
	   </div>


	</div>


</div>
